# Binary
pokemonprofessor
pokemonprofessor-linux-amd64

# Environment
.env
*.env
pokemonprofessor.env

# SQLite database
*.sqlite
*.db
*.db-shm
*.db-wal

# Build artifacts
dist/

# IDE
.vscode/
.idea/

# Go test cache
*.test

# Docker artifacts
*.tar
